.titleWrap{
    display: inline-block;
    width: 200px;
    display: flex;
}

.headerWrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.search{
    width: 80%;
    color: #fff;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(62, 66, 68);
}