.mainWrap{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.showMore{
    max-width: 200px;
    margin: auto;
    padding: 10px 30px;
    border-radius: 55px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: rgb(94, 93, 93);
    color: #ffff;
    outline: none;
    border: none;
    cursor: pointer;
}