.MainContentLayout{
        display: grid;
        grid-template-columns: 1fr  1fr  1fr  1fr 1fr;
        gap: 50px;

}

.showMore{
        max-width: 200px;
        margin: auto;
        padding: 10px 30px;
        border-radius: 55px;
        margin-bottom: 20px;
        margin-top: 40px;
        background-color: rgb(94, 93, 93);
        color: #ffff;
        outline: none;
        border: none;
        cursor: pointer;
}

@media  (max-width: 1145px) {
        .MainContentLayout{
                display: grid;
                grid-template-columns: 1fr  1fr  1fr  1fr;
                gap: 25px;
        }
        
}

@media  (max-width: 950px) {
        .MainContentLayout{
                display: grid;
                grid-template-columns: 1fr  1fr  1fr;
                gap: 25px;
        }
        
}

@media  (max-width: 630px) {
        .MainContentLayout{
                display: grid;
                grid-template-columns: 1fr  1fr ;
                gap: 25px;
        }
        
}

@media  (max-width: 516px) {
        .MainContentLayout{
                display: grid;
                grid-template-columns: 1fr;
                gap: 25px;
        }
        
}
