.activeFilmCardWrap{
    display: flex;
    padding: 15px;
    margin: 20px 0 ;
}


.activeFilmCardImg{
    width: 100%;
    height: 100%;

    object-fit:contain;
    object-position: center;
}

.activeFilmCardImgWrap{
    max-width: 350px;
    max-height: 650px;
    display: flex;
    position: relative;
    cursor: pointer;

}

.activeFilmCardTitle{
    color: #ffff;
    
}

.activeFilmCardYear{
    color: #ffff;
}

.activeFilmCardGener{
    color: #ffff;
}

.activeFilmCardContent{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 40%;
    flex-shrink: 2;
    max-width: 600px;
    padding: 0 50px;
}
