input:active,
input:hover,
input:focus
{
outline:none;
border-radius: none;
}

.input{
    width: 96%;
    color: #fff;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(62, 66, 68);
    font-size: 15px;
    padding: 15px;
}

.input::placeholder{
    margin-left: 5px;
}