.App {
  text-align: center;
  color: #5a5a5a;
  background-color: rgb(5, 5, 12);
}

.container{
  margin: auto;
  padding: 0 80px;
  padding-top: 40px;
  display: flex;
}
.activeCard{
  color: rgb(145, 27, 27);
  position: absolute;
  top: 4%;
  right: 0;
  font-size: 25px;
  cursor: pointer;
}

.favorite{
  color: rgb(124, 124, 124);
  position: absolute;
  top: 4%;
  right: 0;
  font-size: 25px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
