.App {
  text-align: center;
  color: #5a5a5a;
  
}

.container{
  margin: auto;
  padding: 0 80px;
  padding-top: 40px;
  display: flex;
}
.activeCard{
  color: rgb(145, 27, 27);
  position: absolute;
  top: 4%;
  right: 15%;
  font-size: 25px;
  cursor: pointer;
  max-width: 10px;
}

.favorite{
  color: rgb(124, 124, 124);
  position: absolute;
  top: 4%;
  right: 15%;
  font-size: 25px;
  cursor: pointer;
  max-width: 10px;
}

#lightSiteTheme {
  background-color: #fff;
  color:  black;
  
}
#lightSiteTheme p{
  color: #5a5a5a;
}
#lightSiteTheme h2{
  color: black;
}

#lightSiteTheme h3{
  color: black;
}

#darkSiteTheme{
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
